
.PageContainer {
    font-size: 1rem;
    padding-top: 5.26em;

    &__content {
        font-size: 1em;
        background-color: #fff;
        padding: 6em 6.05em 7.6em 6.05em;

    
    }
}

.AboveFold {
    font-size: 1em;
    padding: 7.77em 6.05em 10.83em 6.05em;
    color: #425486;

  

    &>h5 {
        font-weight: bold;
        font-size: 0.78em;
        line-height: 136%;
        text-transform: uppercase;
        color: #32BBFF;
        margin-bottom: 0.36em;

   
    }

    &>h2,
    &>p {
        width: 44%;

    }

    &>h2 {
        font-weight: bold;
        font-size: 2em;
        line-height: 133%;
        margin-bottom: 0.36em;

   
    }

    &>p {
        font-weight: normal;
        font-size: 0.89em;
        line-height: 131%;

    }
}

.Content {
    &__section {
        font-size: 1em;
        color: #425486;

        &:not(:last-of-type) {
            margin-bottom: 1.39em;

     
        }

        &__header {
            font-weight: bold;
            font-size: 1.33em;
            line-height: 138%;
            margin-bottom: 0.83em;

        
        }

        &__text {
            font-weight: normal;
            font-size: 0.89em;
            line-height: 131%;

       
        }
    }
}