@import "../../styles/variables";
@import "../../styles/breakpoint";


.BookHeader,
.SearchResultHeader {
  font-size: 1em;
  padding: 6.83em 6.05em 0.72em 6.05em;
  background: #fff;
}

.SearchResultHeader {


  &>h4 {
    font-weight: bold;
    font-size: 0.78em;
    line-height: 136%;
    text-transform: uppercase;
    color: #5acafa;

 
  }

  &>h2 {
    font-weight: bold;
    font-size: 2em;
    line-height: 133%;
    color: #425486;
    margin: 0.14em 0;
  }

  &>p {
    font-size: 0.89em;
    line-height: 131%;
    color: #425486;
    margin-bottom: 0.625em;

 
  }

  &>button {
    display: block;
    margin-left: auto;
    height: 3.25em;
    background: #32bbff !important;
    color: #fff !important;
    width: 12.31em;


  }
}

.BookHeader {
  padding-bottom: 1.67em;
  color: #a1a9c3;
  font-weight: bold;
  display: flex;
  align-items: center;

 

  &>p {
    font-size: 1em;
    line-height: 133%;

  }

  &>svg {
    height: 0.39em;
    margin: 0 0.72em;

 
  }

  &__ActiveStage {
    color: #425486;
  }

  &__hideBreadCrumbsOnMobile {
  
  }
}

.ResultWrapper {
  font-size: 1em;
  padding: 2.11em 6.05em 2.11em 6.05em;
  display: grid;
  column-gap: 2.83em;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;

  &__results {
  
  }

}

.Default {
  &__sidebar {
    font-size: 1rem;
    width: 18em !important;
    height: max-content;



    &>div {
      justify-content: space-between;

      &>div {
        width: calc(50% - 0.5em);
        padding: 0.61em 0.5em;



        &>svg {
          width: 1em;
          height: 1em;
          margin-right: 0.5em;

     
        }

        &>p {
          font-size: 0.7em;

       
        }
      }
    }
  }
}

.Result,
.BookItem,
.NoResult {
  font-size: 1em;
  width: 47.77em;
  background: #ffffff;
  border-radius: 5px;


  &:not(:last-of-type) {
    margin-bottom: 2.11em;
  }
}

.Result__Details,
.BookItem__Details,
.NoResult {
  display: flex;
  align-items: center;
  height: max-content;
}

.NoResult {
  font-size: 1em;
  padding: 1.67em;

  &>svg {
    width: 4.56em;
    height: 4.56em;
    margin-right: 1em;

  
  }

  &__Textbox {
    color: #425486;

    &>h4 {
      font-weight: bold;
      font-size: 1em;
      line-height: 133%;
      margin-bottom: 0.44em;

  
    }

    &>p {
      font-size: 0.89em;
      line-height: 131%;

  
    }
  }
}

.Result,
.BookItem {

  &__Details,
  &__Seat,
  &__Loading {
    width: 100%;
    padding: 1.11em 1.39em;
    justify-content: space-between;
    position: relative;
  }

  &__Loading {
    &>div {
      overflow: hidden;
    }
  }

  &__Details {
    &__bus {
      &>p {
        font-weight: bold;
        font-size: 0.89em;
        line-height: 107.45%;
        color: #a1a9c3;
        margin-bottom: 1.44em;

   
      }

      &>img {
        width: 8.51em;
        height: 3.94em;

      }
    }

    &__time {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 0.89em;
      line-height: 131%;
      color: #425486;

      &>svg {
        width: 1.76em;
        height: 1.56em;
        margin-right: 0.56em;
      }
    }

    &__booking {
      text-align: end;
      color: #425486;

      &>h3 {
        font-weight: bold;
        font-size: 1.22em;
        line-height: 136%;
        margin-bottom: 0.09em;

      }

      &>p {
        font-size: 0.89em;
        line-height: 131%;
        margin-bottom: 1.25em;
      }
    }
  }

  &__button {
    height: 2.38em;
    background: #32bbff !important;
    color: #fff !important;
    width: 10.06em !important;
    font-size: 0.89em;
    line-height: 131%;
    font-weight: normal;
    min-width: initial;
  }

  &__Seat {
    border-top: 0.5px solid #a1a9c3;
    padding-top: 2.22em;
    padding-bottom: 2.22em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__bus {
      height: 13.27em;
      width: 18.89em;
      position: relative;
      padding: 1.11em 1.11em 1.11em 4.83em;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;


      &>svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }

    &__column {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &>div {
        height: 1.72em;
        width: 1.72em;
        cursor: pointer;

     

        &>svg {
          width: 100%;
          height: 100%;
          transform: rotate(-90deg);

          path {
            fill: #425486;
          }
        }
      }
    }

    &__other {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      }
    }

    &__sample {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
      border: 1px solid #a1a9c3;
      border-radius: 5px;
      width: 17.56em;
      padding: 0.78em 1.56em;

      &>div {
        text-align: center;
        font-size: 0.89em;
        line-height: 131%;
        color: #425486;
        font-size: 10px;

      }
    }

    &__available {
      &>svg {
        path {
          fill: #425486 !important;
        }
      }
    }

    &__booked {
      &>svg {
        path {
          fill: #32bbff !important;
        }
      }
    }

    &__selected {
      &>svg {
        path {
          fill: #27ae60 !important;
        }
      }
    }
  }


.BookItem {
  &__Details {


    &__time {
 
    }

    &__bus {
      &>h3 {
        font-weight: bold;
        font-size: 1.22em;
        line-height: 136%;
        color: #425486;
        margin-bottom: 1.04em;
      }
    }
  }
}

.BookSidebar {
  font-size: 1rem;
  margin-right: 50px;

  &__Card {
    background: #fff;
    border-radius: 5px;
    width: 23.22em;
    padding: 0 1.44em;

    &:not(:last-of-type) {
      margin-bottom: 2.06em;
    }

  }

  &__TripDetails,
  &__Cost {
    padding: 1.33em 0;

    &:not(:last-of-type) {
      border-bottom: 0.5px solid #a1a9c3cc;
    }
  }

  &__TripDetails {
    &>h2 {
      font-weight: bold;
      font-size: 0.78em;
      line-height: 136%;
      color: #a1a9c3;
      margin-bottom: 0.79em;
    }

    &>h3 {
      font-weight: bold;
      font-size: 0.89em;
      line-height: 131%;
      color: #425486;
      margin-bottom: 0.25em;

   
    }

    &>p {
      font-size: 0.89em;
      line-height: 131%;
      color: #425486;

 
    }
  }

  &__Cost {
    &>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.89em;
      line-height: 131%;
      color: #425486;

      &:not(:last-of-type) {
        margin-bottom: 0.94em;
      }

    }

    &:nth-of-type(2) {
      &>div {
        font-weight: bold;
        font-size: 1.22em;


        &>p {
          &>span {
            font-weight: normal;
            font-size: 0.78em;

          }
        }
      }
    }
  }
}

.CompletingBookingContent,
.BookingDetailsContent,
.PassengerDetailsContent {
  width: 41.11em;

}

.PassengerDetailsContent,
.ProfileContent {
  &__info {
    background: #f1f2f6;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.67em 1.22em;
    margin-bottom: 1.78em;
    align-items: center;
    width: 100%;

    &>svg {
      width: 1.67em;
      height: 1.67em;
      margin-right: 0.5em;
    }

    &>p {
      font-weight: bold;
      font-size: 0.78em;
      line-height: 136%;
      color: #425486;
    }
  }

  &__Submit {
    height: 2.38em;
    background: #32bbff !important;
    color: #fff !important;
    font-size: 0.89em;
    line-height: 131%;
    font-weight: normal;
    min-width: initial;
    padding: 0 1.75em;
  }
}

.PassengerDetailsContent {
  &__accordion {
    width: 100%;
    margin-bottom: 2.17em;

    &>div>form {
      padding-bottom: 25px;
    }
  }
}

.BookingDetailsContent,
.CompletingBookingContent {
  &__wrapperCard {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 2.17em;
    }

  }

  &__profile,
  &__details {
    &__info {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 0.89em;
      line-height: 131%;
      color: #425486;

      &:not(:last-of-type) {
        margin-bottom: 1em;
      }

      &__text {
        width: 30%;
        font-weight: bold;
      }

      &__value {
     
      }
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__info {

      &__text,
      &__value {
        width: 50%;
      }

      &__value {
     
      }
    }
  }

  &__payment {
    margin-bottom: 1.5em;

    &__selection {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.89em;

      &>img {
        width: 5.44em;
      }
    }
  }
}

.BookingDetailsContent {
  margin-top: 100px;
  margin-bottom: 150px;
display: flex;
width: 100%;

        @include ssm {
margin-bottom: 0px;
   display: block;
 
  }
&__second{
  flex-basis: 30%;
}

&__first{
  flex-basis: 70%;
margin-left: 50px;

&__colu{
  display: flex;
      
margin-bottom: 30px;
  &__one{
    flex-basis: 40%;
    

&>input{
  padding: 8px;
  width: 80%;
  border-radius: 5px;
 
}
  }
  &__two{
    flex-basis: 40%;
    
    &>input{
      padding: 8px;
      width: 80%;
      border-radius: 5px;
    }
  }
  &__three{
   margin-bottom: 30px;
&>input{
  padding: 8px;
  width: 72%;
  border-radius: 5px;
}
  }
}

&__bolu{
  display: flex;
margin-bottom: 30px;
  &__four{
    flex-basis: 15%;
&>input{
  padding: 8px;
  width: 80%;
  border-radius: 5px;
}
  }
  &__five{
    flex-basis: 15%;
&>input{
  padding: 8px;
  width: 80%;
  border-radius: 5px;
}
  }
  &__six{
    flex-basis: 60%;
&>input{
  padding: 8px;
  width: 70%;
  border-radius: 5px;
}
  }
}

  &__profile {
    &:not(:last-child) {
      padding-bottom: 1.77em;
      margin-bottom: 1.77em;
      border-bottom: 1px solid #f2f2f6;

    }
  }
}

&__butt{
  margin-top: 30px;

width: 100%;
  &>button{
    background-color: #ffa500;

      padding: 10px;
      text-decoration: none;
      color: white;
   
      width: 74%;
    &>a{
    font-size: 15px;
  font-weight: 700;
    text-decoration: none;
      color: white;
    }
   
  }
}
&__second{
  .BookSidebar {
    margin-top: 50px;
  font-size: 1rem;
  margin-right: 50px;

  &__Card {
    background: #fff;
    border-radius: 5px;
    width: 23.22em;
    padding: 0 1.44em;

    &:not(:last-of-type) {
      margin-bottom: 2.06em;
    }

    @include sm {
      width: 100%;
      padding: 0 26px;
    }
  }

  &__TripDetails,
  &__Cost {
    padding: 1.33em 0;

    &:not(:last-of-type) {
      border-bottom: 0.5px solid #000;
    }
  }

  &__TripDetails {
    &>h2 {
      font-weight: bold;
      font-size: 0.78em;
      line-height: 136%;
      color: #000;
      margin-bottom: 0.79em;

      @include sm {
        font-size: 14px;
      }
    }

    &>h3 {
      font-weight: bold;
      font-size: 0.89em;
      line-height: 131%;
      color: #000;
      margin-bottom: 0.25em;

      @include sm {
        font-size: 15px;
      }
    }

    &>p {
      font-size: 0.89em;
      line-height: 131%;
      color: #000;

      @include sm {
        font-size: 15px;
      }
    }
  }

  &__Cost {
    &>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.89em;
      line-height: 131%;
      color: #000;

      &:not(:last-of-type) {
        margin-bottom: 0.94em;
      }

      @include sm {
        font-size: 15px;
      }
    }

    &:nth-of-type(2) {
      &>div {
        font-weight: bold;
        font-size: 1.22em;

        @include sm {
          font-size: 17px;
        }

        &>p {
          &>span {
            font-weight: normal;
            font-size: 0.78em;

            @include sm {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


}
}
.ProfileContent {
  width: 47.77em;
  &__button_group {
    display: flex;
    margin-left: auto;
    margin-top: 2.11em;
    width: max-content;

  }

  &__Submit {
    width: 8.8em;

    &__cancel {
      margin-right: 1.38em;
    }
  }
}

.BookingFooter {
  width: 100%;
  margin-top: 1.61em;

  &>p {
    margin-left: 2.06em;
    color: #425486;
    font-size: 0.89em;
    line-height: 169%;
    letter-spacing: 0.035em;

    &>strong {
      display: inline-block;
      margin-bottom: 0.4em;
    }
  }

  &__button {
    background: #32bbff !important;
    color: #fff !important;
    line-height: 131%;
    font-weight: normal;
    min-width: 12.25em;
    margin-left: auto;
    padding: 0 1.75em;
    margin-top: 1.81em;
  }
}

.BookingCompleteContent {
  font-size: 1rem;
  padding-top: 12.38em;

  &__wrapper {
    font-size: 1em;
    width: 23.16em;
    padding: 3.33em 1.11em;
    background-color: #fff;
    margin: auto;
    text-align: center;
    color: #425486;
    &>svg {
      width: 6.44em;
      margin-bottom: 2.94em;
    }

    &>h4 {
      font-weight: bold;
      font-size: 1.55em;
      line-height: 136%;
      margin-bottom: 0.75em;
    }

    &>p {
      font-size: 0.89em;
      line-height: 131%;
      margin-bottom: 2.69em;
    }

    &>button {
      background: #32bbff;
      color: #fff;
      margin: 0 auto;
    }
  }
}
.mini{
  background-color: #f1f2f6;
  padding-top: 5px;
  padding-bottom: 100px;
}